<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/user.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <title>控制台</title>
</head>
<body>
<div>

<div class="navbar navbar-default">x
    <a href="./" class="navbar-brand"><span class="glyphicon glyphicon-cloud"></span></a>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="action"><a href=""><strong>主页</strong></a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 spidebar">

    <ul class="">

    </ul>

    </div>
</div>

</div>
</body>
</html>